<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hyper Hacker</title>
    <script src="assets/js/tutorial.js"></script>
</head>
<body>
    <div id="tutorial">
        <h1 id="text"></h1>
    </div>

    <div id="example">
        <h1>Tutorial Level</h1>
        <h2>Delete the div</h2>

        <div id="coverDiv">
            <a href="level-select">Click here!</a>
            <div id="cover"></div>
        </div>

        <div id="hint">
            <p>Stuck? Here's a tip. Go into your browser's inspect tab and set the &#60;div&#62; element with the id of "cover" to "display: none"</p>
        </div>
    </div>
    
</body>
</html>