<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hyper Hacker: Level 0</title>
    <script src="assets/js/0.js"></script>
</head>

<body>
    <div id="profile">
        <div id="profileContent">
            <img src="assets/media/defaultProfile.png" alt="profile">
            <h1>{{username}}</h1>
            <h3>Joined On: {{dateJoined}}</h3>

            <div id="buttons">
                <button>Change Username</button>
                <button>Change Password</button>
                <button>Change Picture</button>
            </div>

            <div id="subscription">
                <h3>Upgrade To Hacker Status</h3>
                <p></p>
            </div>
        </div>
    </div>

    <nav>
        <h2></h2>
        <img id="profile-toggle" src="assets/media/defaultProfile.png" alt="profile picture">
    </nav>

    <input id="_csrf" type="hidden" name="_csrf" value={{csrfToken}} />
    <!--Yep this is terrible. TODO adjust style and move to styles.scss -->
    <button id="complete" style="position: absolute; top:40%; left:40%">Complete Level</button>

</body>

</html>