<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hyper Hacker: Level 0</title>
    <script src="assets/js/0.js"></script>
</head>

<body>
    <div id="profile">
        <div id="profileContent">
            <img src="assets/media/defaultProfile.png" alt="profile">
            <h1>{{username}}</h1>
            <h3>Joined On: {{dateJoined}}</h3>

            <div id="buttons">
                <button>Change Username</button>
                <button>Change Password</button>
                <button>Change Picture</button>
            </div>

            <div id="subscription">
                <h3>Upgrade To Hacker Status</h3>
                <p></p>
            </div>
        </div>
    </div>

    <nav>
        <h2></h2>
        <img id="profile-toggle" src="assets/media/defaultProfile.png" alt="profile picture">
    </nav>

    <input id="_csrf" type="hidden" name="_csrf" value={{csrfToken}} />

    <div id="overhead">
        <h1>Level 0: Overflowing with Secrets</h1>

        <h2>There are six buttons hiding in the space outside of your reach. One of them completes the level. Find it.</h2>
        
    </div>
    

    <a class="finish-link button1">Click here!</a>

    <a class="finish-link button2">Click here!</a>

    <div id="float">
        <a class="finish-link button3">Click here!</a>
    </div>
    

    <a class="finish-link button4">Click here!</a>

    <div id="cheat">
        <a class="finish-link button5">Click here!</a>
    </div>

    <a id="complete" class="finish-link button6">Click here!</a>
</body>

</html>